html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

.body {
  font-family: "Ubuntu Mono", monospace;
  background-color: $color-bg;

  &--fixed {
    position: fixed;
  }
}

* {
  box-sizing: border-box;
}

.title {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  background-color: $color-tertiary;
}

.hero {
  display: flex;
  background-color: $color-tertiary;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;

  &__image {
    max-width: 150px;
    margin-right: 15px;
    padding-top: 15px;
  }

  &__text {
    color: white;
  }

  &__subtitle {
    font-size: 1.3rem;
  }

  &__heart {
    width: 17px;
    vertical-align: bottom;
    margin-left: 2px;
    margin-right: 2px;
  }

  &__link:link,
  &__link:visited {
    color: white;
  }
}

.title-image {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__image {
    max-width: 150px;
  }

  &__text {
    color: white;
  }
}

.content {
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color-tertiary;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      background-color: #ffa41b;
      top: 0;
      bottom: 0;
      width: 47px;
      left: 2px;
      height: 1rem;
      margin: auto;
    }
  }

  h1 {
    color: white;
    background-color: $color-tertiary;
  }
}

.arrow {
  position: absolute;
  max-width: 150px;
  max-height: 150px;
  transform: scaleY(-1) rotate(206deg);
  top: 22px;
  left: 33px;
  pointer-events: none;
}

ul {
  list-style: none;
  padding: 0;

  li {
    padding-left: 40px;
    background-image: url(../img/mario/star.svg);
    background-position: 10px top;
    background-repeat: no-repeat;
    background-size: 20px;
  }
}

a:link,
a:visited,
a:active,
a:hover {
  color: $color-primary;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

a:hover {
  background-color: $color-primary;
  color: white;
}