html, 
body {
    height: 100%;
}

.body {
    font-family: "Lato", sans-serif;

    &--fixed {
        position: fixed;
    }
}

* {
    box-sizing: border-box;
}

.title {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.content {
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.content ul {
    max-width: 300px;
    margin: 0 auto;

}