html,
body {
  height: 100%;
}

.body {
  font-family: "Ubuntu Mono", monospace;
  background-color: $color-bg;

  &--fixed {
    position: fixed;
  }
}

* {
  box-sizing: border-box;
}

.title {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.content {
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color-tertiary;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  h1 {
    color: white;
    background-color: $color-tertiary;
  }
}

.content ul {
  max-width: 300px;
  margin: 0 auto;
}