$color-primary: #9818d6;
$color-secondary: #ff5151;
$color-tertiary: #ffa41b;

$color-2: #bbbbbb;
$color-3: #cccccc;
$color-4: #dddddd;
$color-5: #eeeeee;
$white: #fff;

$color-bg: #ededed;

$thumb-color: $color-primary;