.snake {
  background-color: $color-primary;


  &--first {
    &.snake--up {
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
    }
    &.snake--down {
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
    }
    &.snake--right {
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
    &.snake--left {
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
    }
  }
}

.field {
  position: relative;
  flex: 1;

  &__inner{
    padding-bottom: 100%;
    position: relative;
  }
}

.apple {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}

.map {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}