.form {
  &__score {
    background-color: $color-primary;
    color: white;
    padding: 20px 0 20px 40px;
    font-size: 1.5rem;
  }

  &__result {
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    &--orange {
      background-color: darken(orange, 0.5);
    }
    &--green {
      background-color: green;
    }
    &--red {
      background-color: red;
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    padding-left: 40px;
    background-color: $color-primary;
  }

  &__result-name {
    flex: 1;
  }
}

.form__score-number {
  padding-left: 2px;
  padding-right: 2px;
  color: white;
}

.results {
  padding-left: 40px;
  background: $color-tertiary;
  color: white;
}
.result {
  &__item {
    display: flex;
    padding: 2px;
    align-items: center;
    color: white;
    justify-content: space-between;
  }

  &__delete {
    background: transparent;
    display: flex;
    align-items: center;
  }
}
